

.navbar-container.user{

    position: relative;
    background: rgba(0, 0, 0, 0.9);
}

.navbar-container.user .logo{
    cursor: pointer;
}

.navbar-container.user button{
    padding: 0.5em 1.3rem;
    font-size: 1.2rem;
    margin-right: 1.2rem;
    font-weight: 700;
    border-radius: 20px;
    outline: none;
    background-color: #4caf50;
    border: none;
    color: #fff;
}


.navbar-container.user button:hover{
    opacity: 0.7;
    animation: all 0.5s ease-in;
    cursor: pointer;
}

.footer.user{
    color: #fff;
    background-color:rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;

}

.footer.user .footer-container {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    width: 100%;
    text-align: center;
    
  }

/*Login*/

.login-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .login-page h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-page  form {
    display: flex;
    flex-direction: column;
  }
  
  .login-page  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .login-page  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-page  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-page button:hover {
    background-color: #45a049;
  }




  
  @media (max-width: 600px) {
    .login-page {
      padding: 10px;
    }
  }


  /*Sign UP*/
  .signup-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .signup-page h1 {
    text-align: center;
  }
  
  .signup-page form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-page label {
    margin-bottom: 8px;
  }
  
  .signup-page input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .signup-page button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .signup-page button:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 600px) {
    .signup-page {
      max-width: 100%;
      padding: 10px;
    }
  }
  


  /**********************************************/

